<section className="u-clearfix u-section-1" id="sec-9a73">
  <div className="u-clearfix u-sheet u-sheet-1">
    <div className="u-container-style u-group u-opacity u-opacity-85 u-palette-3-base u-radius-48 u-shape-round u-group-1">
      <div className="u-container-layout u-container-layout-1">
        <div className="u-table u-table-responsive u-table-1">
          <table className="u-table-entity">
            <colgroup>
              <col width="47%">
              <col width="53%">
            </colgroup>
            <tbody className="u-table-body">
              <tr style={{height: '69px'}}>
                <td className="u-table-cell">Имя пользователя:</td>
                <td className="u-table-cell"></td>
              </tr>
              <tr style={{height: '69px'}}>
                <td className="u-table-cell">Электронная почта:</td>
                <td className="u-table-cell"></td>
              </tr>
              <tr style={{height: '69px'}}>
                <td className="u-table-cell">Полное имя:</td>
                <td className="u-table-cell"></td>
              </tr>
              <tr style={{height: '69px'}}>
                <td className="u-table-cell">Номер телефона:</td>
                <td className="u-table-cell"></td>
              </tr>
              <tr style={{height: '69px'}}>
                <td className="u-table-cell">Серия и номер паспорта:</td>
                <td className="u-table-cell"></td>
              </tr>
              <tr style={{height: '69px'}}>
                <td className="u-table-cell">Дата рождения:<br>
                </td>
                <td className="u-table-cell"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <a href="https://nicepage.com/html-website-builder" className="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-1">Редактировать данные профиля</a>
    <a href="https://nicepage.com/c/sale-website-templates" className="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-2">Сделать заказ</a>
    <a href="https://nicepage.com/c/contact-form-html-templates" className="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-3">Изменть пароль<br>
    </a>
    <a href="https://nicepage.com/c/contacts-website-templates" className="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-4">Мои заказы</a>
  </div>
</section>